<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/foundation/stylesheets/app.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/foundation/stylesheets/foundation.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/foundation/javascripts/modernizr.foundation.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/foundation/javascripts/jquery.js")" type="text/javascript"></script>
    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="page">
        
    <header>
        <h3>Admin</h3>
        
        <div class="row">
            <nav class="eight columns">
                <ul id="menu" class="nav-bar">
                    <li>@Html.ActionLink("Index", "Index", "Admin") </li>
                    <li>@Html.ActionLink("Kurser", "Index", "Course") </li>
                    <li>@Html.ActionLink("Kunder", "Customers", "Admin") </li>
                    <li>@Html.ActionLink("Kontor", "ListLocations", "Admin") </li>
                    <li>@Html.ActionLink("Lista Kurser", "CourseList", "Course") </li>          
                </ul>
            </nav>
        </div>        
    </header>
        <section id="main" class="row">
            @RenderBody()
        </section>
        
        <footer class="row">
        </footer>
</div>
    <script src="@Url.Content("~/Content/foundation/javascripts/foundation.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/foundation/javascripts/app.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
</body>
</html>
