<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/foundation/stylesheets/app.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/foundation/stylesheets/foundation.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/foundation/javascripts/modernizr.foundation.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/foundation/javascripts/jquery.js")" type="text/javascript"></script>
    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

    <div id="fb-root"></div>
        <script type="text/javascript">
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/sv_SE/all.js#xfbml=1&appId=335253209846827";
                fjs.parentNode.insertBefore(js, fjs);
            } (document, 'script', 'facebook-jssdk'));
        </script>

    <div class="page">
        <header>
            <div class="row">
                <div id="title" class="five columns">
                    <h1>My MVC Application</h1>
                </div>
                <div id="logindisplay" class="two columns">
                    @Html.Partial("_LogOnPartial")
                </div>
            </div>
            <div class="row">
                <nav class="six columns">
                    <ul id="menu" class="nav-bar">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Posts", "Index", "Post")</li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="row">
            <section id="main">
                @RenderBody()
            </section>
            <aside class="main-sidebar column four">
                <div class="fb-like-box" data-href="http://www.facebook.com/varldsklass?fref=ts" data-width="292" data-show-faces="true" data-border-color="#fff" data-stream="false" data-header="false"></div>
            </aside>
        </div>
        <footer class="row">
        </footer>
    </div>
    <script src="@Url.Content("~/Content/foundation/javascripts/foundation.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/foundation/javascripts/app.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'XX-XXXXXX-X']);
        _gaq.push(['_setDomainName', 'XXXXXXX']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
	</script>
</body>
</html>
