@model Varldsklass.Web.ViewModels.SideBarViewModel
@{
    string current = "";
}
    @if (Model.Categories != null && Model.Category == null)
    {
    <section class="categories">
       <h4>Kategorier <i>&#128213;</i></h4>
       <ul>
            @foreach (var category in Model.Categories)
            {
                
                <li>@Html.ActionLink(category.Name, "Category", "Course", new { id = category.ID }, null)</li>
            }
        </ul>
    </section>
    } 
    @if (Model.Category != null)
    {
    <section class="categories">
    <h4>Kategorier <i>&#128213;</i></h4>
    <ul>
         @foreach (var category in Model.Categories)
         {
                if (Model.Category.ID == category.ID)
                {
                    current = "current";
                }
                <li>@Html.ActionLink(category.Name, "Category", "Course", new { id = category.ID }, new { @class = current })
                    
                    @if (Model.Category.ID == category.ID) {
                        current = "";
                        <ul> 
                            @foreach (var post in Model.Category.Posts)
                            {
                            <li>@Html.ActionLink(post.Title, "CourseSingle", "Course", new { id = post.ID }, null)</li>
                            }
                        </ul>
                    }
                </li>
                
         }
        
        </ul>
      </section>
    } 

   
    @if (Model.Events != null)
    {
    <section class="categories">    
        <h4>@Model.Post.Title <i>&#128278;</i></h4>
        <ul>
            @foreach (var Event in Model.Events)
            {
            <li><i>&#59172;</i>@Html.ActionLink(Event.Title, "EventSingle", "Course", new { id = Event.ID }, null)</li>
            }
        </ul>
    </section>
    }
    
    @if (Model.Post != null)
    {
        if (Model.Post.Badges.Count() > 0)
        {
            <section class="badges">
                @foreach (var badge in Model.Post.Badges)
                {
                    <img src="@badge.ImagePath" title="@ViewBag.Title" alt="@ViewBag.Title"/>
                }
            </section>
        } 
    }