@model Varldsklass.Domain.Entities.Location
@{
    ViewBag.Title = "Skapa Kontor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>CreateLocation</h2>

@using (Html.BeginForm("CreateLocation", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.ID)
    @Html.LabelFor(m => m.Address, " Adress")
    @Html.TextBoxFor(m => m.Address)
    @Html.LabelFor(m => m.Zip, "Zip")
    @Html.TextBoxFor(m => m.Zip)
    @Html.LabelFor(m => m.City, "Stad")
    @Html.TextBoxFor(m => m.City)
    <a href="#" id="revealModal" class="button" data-reveal-id="myModal">Bilder</a>
    <div id="myModal" class="reveal-modal [expand, xlarge, large, medium, small]">
      @{
    Html.RenderAction("_FileUploadPartial", "FileUpload", new { locationID = Model.ID });
        }
      <a class="close-reveal-modal">&#215;</a>
    </div>

    <input type="submit" value="Spara" class="success button"/>
    @Html.ActionLink("Tillbaka till listan", "ListLocations")
}