@model Varldsklass.Domain.Entities.Location

@{
    ViewBag.Title = "EditLocation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Redigera kontaktinformation</h2>

@using (Html.BeginForm("EditLocation", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        @Html.HiddenFor(m => m.ID)
        @Html.LabelFor(m => m.Address)
        @Html.TextBoxFor(m => m.Address)
        @Html.LabelFor(m => m.Zip)
        @Html.TextBoxFor(m => m.Zip)
        @Html.LabelFor(m => m.City)
        @Html.TextBoxFor(m => m.City)

        <input type="submit" value="Spara" />
    
        @Html.ActionLink("Tillbaka till listan", "ListLocations")
}