@using Varldsklass.Domain.Entities
@model List<Location>
@{
    ViewBag.Title = "ListLocations";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kontaktinformation</h2>
@Html.ActionLink("Skapa ny", "CreateLocation", "Admin", null, new { @class = "button" })

<table>
    <tr>
        <th> Adress </th>
        <th> Postnummer</th>
        <th> Stad </th>
        <th> Redigera </th>
        <th> Ta bort </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Address</td>
            <td>@item.Zip</td>
            <td>@item.City</td>
            <td>@Html.ActionLink("Redigera", "EditLocation", "Admin", new { Id = item.ID }, new { @class = "tiny success button" })</td>
            <td>@Html.ActionLink("Ta bort", "DeleteLocation", "Admin", new { Id = item.ID }, new { @class = "tiny alert button" })</td>
        </tr>
    }
</table>
