<nav class="eight columns">
    <ul id="menu" class="nav-bar">
        <li>@Html.ActionLink("Index", "Index", "Admin") </li>
        <li>@Html.ActionLink("Kurser", "Index", "Course") </li>
        <li>@Html.ActionLink("Populära kurser", "PopularCourses", "Course") </li>
        <li>@Html.ActionLink("Kunder", "Customers", "Admin") </li>
        <li>@Html.ActionLink("Kontor", "ListLocations", "Admin") </li>
        <li>@Html.ActionLink("Sidor", "Pages", "Post") </li>          
    </ul>
</nav>