@model Varldsklass.Web.ViewModels.FileUploadViewModel
@{
Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Ladda upp bild</h2>

<table>
@using (Html.BeginForm("FileUpload", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="Ladda upp" id="imageModal" />
}
@foreach (var image in Model.UploadedFiles)
{
      <tr>
        <td><img src="@image.PathUrl" title="@image.PathUrl" alt="@image.PathUrl" runat="server" width="100px"/></td><td>@Html.ActionLink("Ta bort", "DeleteFile", new { path = image.PathUrl }, new { @class = "tiny alert button" })</td>
      </tr>   
}
<h5>@Html.Encode(ViewData["message"])</h5>
</table>