@model Varldsklass.Domain.Entities.Post

@{
    ViewBag.Title = "AddPage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Lägg till / Ändra sida</h2>

@using (Html.BeginForm("SavePage", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(p => p.ID, "ID")
    @Html.HiddenFor(p => p.postType, "postType")
    @Html.LabelFor(p => p.Title, "Titel")
    @Html.ValidationMessageFor(p => p.Title)
    @Html.EditorFor(p => p.Title) 
    
     <div class="editor-field">
        @Html.LabelFor(p => p.Body, "Innehåll")
        @Html.TextAreaFor(p => p.Body)
    </div>
   
    <input type="submit" value="Save" class="success button" />
    @Html.ActionLink("Cancel and return to List", "Pages", "Post")
}
