@model IEnumerable<Varldsklass.Domain.Entities.Post>

@{
    ViewBag.Title = "Pages";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Sidor</h1>
@TempData["message"]
@Html.ActionLink("Lägg till Sida", "AddPage", null, new { @class = "button" })
<table>
    <tr>
        <th>Titel</th>
        <th>Ändra</th>
        <th>Ta Bort</th>
    </tr>
@foreach (var page in Model)
{
    <tr>
         <td>@page.Title</td> 
         <td>@Html.ActionLink("Ändra", "AddPage", new { id = page.ID }, new { @class = "tiny success button" })</td>
         <td>@Html.ActionLink("Ta Bort", "DeletePage", new { id = page.ID }, new { @class = "tiny alert button" })</td>
    </tr>
}
</table>