@model Varldsklass.Domain.Entities.Post

@{
    ViewBag.Title = Model.Title;
}
@if(Model.Images.Count() > 0) {
<section id="slider">
    <div id="featured">
        @foreach(var img in Model.Images) {
            <img src="@img.ImagePath" title="@ViewBag.Title" alt="@ViewBag.Title"/>
        }
    </div>
</section>
}
<div id="content" class="row">
    <div class="eight columns">
            <h1>@Model.Title</h1>
            <article>
                @Html.Raw(Model.Body)
            </article>
        </div>
    @Html.Partial("_SideBar")      
</div>

