@using Varldsklass.Web.ExtensionMethods
@using Varldsklass.Domain.Helpers
@model Varldsklass.Web.ViewModels.StatisticsViewModel
              
@{
    ViewBag.Title = "Statistik";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="twelve columns">
        @if (Model.Event != null)
        {
            <h2>Statistik över @Model.Event.Title</h2>
            <p>Lärare: @Model.Event.Teatcher</p>
            <p>Ägde rum mellan <strong>@Html.DateFormat(Model.Event.StartDate)</strong> och <strong>@Html.DateFormat(Model.Event.EndDate)</strong>.</p>
        }
        else
        {
            <h2>Samlad statistik över alla kurstillfällen</h2>
        }
    </div>
</div>

<div class="row">
    <div class="six columns">
        @{if( Model.Teacher.Count > 0 ||
              Model.Location.Count > 0 ||
              Model.Food.Count > 0 ||
              Model.Overall.Count > 0) {
        <table id="statistics">
            <tr>
                <th></th>
                <th>Medelvärde</th>
                <th>Median</th>
                <th>Röster</th>
            </tr>
            @if (Model.Teacher.Count > 0)
            {
            <tr>
                <th>Lärare</th>
                <td>@Model.Teacher.Average().ToString("0.00")</td>
                <td>@Model.Teacher.Median()</td>
                <td>@Model.Teacher.Count</td>
            </tr>
            }
            @if (Model.Location.Count > 0)
            {
            <tr>
                <th>Lokaler</th>
                <td>@Model.Location.Average().ToString("0.00")</td>
                <td>@Model.Location.Median()</td>
                <td>@Model.Location.Count</td>
            </tr>
            }
            @if (Model.Food.Count > 0)
            {
            <tr>
                <th>Mat</th>
                <td>@Model.Food.Average().ToString("0.00")</td>
                <td>@Model.Food.Median()</td>
                <td>@Model.Food.Count</td>
            </tr>
            }
            @if (Model.Overall.Count > 0)
            {
            <tr>
                <th>Övergripande</th>
                <td>@Model.Overall.Average().ToString("0.00")</td>
                <td>@Model.Overall.Median()</td>
                <td>@Model.Overall.Count</td>
            </tr>
            }
        </table>
        } else {
            <p>Det finns ingen statistik för det här kurstillfället än.</p>
        }}
    </div>

    <div class="six columns">
        @if (Model.Event != null && string.Join("", Model.Opinions.ToArray()).Length > 0 )
        {
            <h3>Övriga synpunkter</h3>
            <ul>
            @foreach (string opinion in Model.Opinions)
            {
                if (opinion == "")
                {
                    continue;
                }

                <li>@opinion</li>
            }
            </ul>
        }
    </div>
</div>