@model Varldsklass.Web.ViewModels.StatisticsViewModel
              
@{
    ViewBag.Title = "A LITTLE BIT WILDER";
}
@if (Model.Event != null)
{
    <h2>Statistik över @Model.Event</h2>
}
else
{
    <h2>Statistik över alla kurser</h2>
}

<table>
    <tr>
        <th>Lärare</th>
        <td>@Model.Teacher</td>
    </tr>
    <tr>
        <th>Plats</th>
        <td>@Model.Location</td>
    </tr>
    <tr>
        <th>Mat</th>
        <td>@Model.Food</td>
    </tr>
    <tr>
        <th>Överlag</th>
        <td>@Model.Overall</td>
    </tr>
</table>