@using Varldsklass.Domain.Entities
@model List<Location>
@{
    ViewBag.Title = "Contact";
}
 <section id="slider">
    <script type="text/javascript">
        $(document).ready(function () {
            if ($('#address').val() != null) {
                $('#slider').append('<div id="map_canvas" class="six columns" style="height:100%; width: 100%;"></div>');
            }
        });
    </script>
  </section>
<div id="content" class="row">
     <div class="eight columns">
        <h2>Kontakta oss</h2>
        
        @foreach (var location in Model)
        {
            if (location.Images.Count() > 0) {
                <div id="featured">
                     @foreach (var image in location.Images) {
                         <img src="@image.ImagePath" alt="@location.City" title="@location.City" />
                     }
                </div>
            }
            <input type="hidden" id="address" value="@location.Address, @location.Zip @location.City" />
            <h4>@location.City</h4>
            <p>@location.Address<br />
            @location.Zip @location.City</p>
        }
            <p>Telefon: 0320 - 109 39<br />
            Bokning & offert: 073 - 551 50 96<br />
            E-post: <a href="mailto:info@varldsklass.com">info@varldsklass.com</a></p>
        </div>
    @Html.Partial("_SideBar")      
</div>