@{
    ViewBag.Title = "Home Page";
}

<section id="slider">
    <div id="featured">
       <img src="@Url.Content("~/Content/image-uploads/front1.jpg")" title="Världsklass.com" alt="Världsklass.com"/>
       <img src="@Url.Content("~/Content/image-uploads/front2.jpg")" title="Världsklass.com" alt="Världsklass.com"/>
       <img src="@Url.Content("~/Content/image-uploads/front3.jpg")" title="Världsklass.com" alt="Världsklass.com"/>
    </div>
</section>

<div id="content" class="row">
    <div class="eight columns">
    <h1>Utbildningar i världsklass<i>&#127942</i></h1>
        <article class="index-teaser">
            <p>Oavsett om du vill gå en utbildning som privatperson, egenföretagare eller anställd så har vi lösningen som passar just dig och dina behov.</p>
            <p>Våra kursdeltagare är glada kursdeltagare!</p>
            <p>Vi gör alltid allt vi kan för att du som kursdeltagare ska bli så nöjd som möjligt, när andra utbildare 
            gör en  "bra" utbildning så vill vi dra det ännu längre, ja ända upp till världsklass helt enkelt!</p> 
        </article>

     @model List<DotNetOpenAuth.ApplicationBlock.Facebook.FacebookGraph.FeedPost>
        <article class="facebook-feed">
            <h2>Nyheter<i>&#128227</i></h2>
            @Html.DisplayFor(m => Model)
        </article>
    </div>
    @Html.Partial("_SideBar")      
</div>

