@{
    ViewBag.Title = "Home Page";
}

<section id="slider">
    <div id="featured">
       <img src="@Url.Content("~/Content/image-uploads/front1.jpg")" title="Världsklass.com" alt="Världsklass.com"/>
       <img src="@Url.Content("~/Content/image-uploads/front2.jpg")" title="Världsklass.com" alt="Världsklass.com"/>
       <img src="@Url.Content("~/Content/image-uploads/front3.jpg")" title="Världsklass.com" alt="Världsklass.com"/>
    </div>
</section>

<div id="content" class="row">
    <div class="eight columns">
     @model List<DotNetOpenAuth.ApplicationBlock.Facebook.FacebookGraph.FeedPost>
        <article class="facebook-feed">
            <h2>Nyheter<i>&#128227</i></h2>
            @Html.DisplayFor(m => Model)
        </article>
    </div>
    @Html.Partial("_SideBar")      
</div>

