
@model Varldsklass.Web.ViewModels.MenuViewModel       
<nav class="twelve columns">
    <a href="#" class="search-button"><span>Sök </span><i>&#128269;</i></a>
    <ul id="menu" class="nav-bar">
        <li>@Html.ActionLink("Hem", "Index", "Home")</li>
        <li class="has-flyout">
            @Html.ActionLink("Utbildningar", "CategoryList", "Course")
            <a href="#" class="flyout-toggle"><span> </span></a>
            <ul class="flyout">
                    <li>@Html.ActionLink("Visa Alla", "CategoryList", "Course")</li>
                    @foreach (var category in Model.Categories)
                    { 
                        <li>@Html.ActionLink(category.Name, "Category", "Course", new { id = category.ID }, null)</li>
                    }
            </ul>     
        </li>
        @foreach (var page in Model.Pages) {
            <li>@Html.ActionLink(page.Title, "Page", "Post", new { id = page.ID}, null)</li>
        }   
        <li class="has-flyout">
            <a href="#">Kontakta oss</a>
            <a href="#" class="flyout-toggle"><span> </span></a>
            <ul class="flyout">
                
                    @foreach (var location in Model.Locations)
                    { 
                        <li>@Html.ActionLink(location.City, "Contact", "Home", new { id = location.ID }, null)</li>
                    }
                
            </ul>
        </li>
    </ul>
</nav>