
@model Varldsklass.Web.ViewModels.MenuViewModel
<nav class="twelve columns">
    <ul id="menu" class="nav-bar">
        <li>@Html.ActionLink("Hem", "Index", "Home")</li>
        <li>@Html.ActionLink("Om oss", "About", "Home")</li>
        <li>@Html.ActionLink("Utbildningar/Föreläsningar", "Index", "Post")</li>
        @foreach (var page in Model.Pages) {
            <li>@Html.ActionLink(page.Title, "Page", "Post", new { id = page.ID}, null)</li>
        }   
        <li class="has-flyout">
            <a href="#">Kontakta oss</a>
            <a href="#" class="flyout-toggle"><span> </span></a>
            <ul class="flyout">
                
                    @foreach (var location in Model.Locations)
                    { 
                        <li>@Html.ActionLink(location.City, "Contact", "Home", new { id = location.ID }, null)</li>
                    }
                
            </ul>
        </li>
    </ul>
</nav>