@using Varldsklass.Domain.Helpers
@model IEnumerable<Varldsklass.Domain.Entities.SearchResult>
          
@{
    ViewBag.Title = "Search";
}
<div id="content" class="row">
    <div class="eight columns">
    <h2>Search</h2>
     @foreach (var searchObject in Model) 
         {
     
     <article>
      <a href="@searchObject.Url"> <h3>@searchObject.Title</h3> </a>
        @if (searchObject.StartDate != DateTime.MinValue && searchObject.EndDate != DateTime.MinValue)
            {
            <p>@Html.DateFormat(searchObject.StartDate) - @Html.DateFormat(searchObject.EndDate)</p>
            }
        <p>@searchObject.Excerpt</p>
     </article>
     }
    </div>
    @Html.Partial("_SideBar")      
</div>
