@model Varldsklass.Domain.Entities.Category

@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Lägg till Kategori</h1>
@using (Html.BeginForm("SaveCategory", "Course", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(p => p.ID, "ID")
    @Html.LabelFor(p => p.Name, "Titel")
    @Html.HiddenFor(p => p.Created)
    @Html.ValidationMessageFor(p => p.Name)
    @Html.EditorFor(p => p.Name) 
    <a href="#" id="revealModal" class="button" data-reveal-id="myModal">Bilder</a>
    <div id="myModal" class="reveal-modal [expand, xlarge, large, medium, small]">
      @{
    Html.RenderAction("_FileUploadPartial", "FileUpload", new { categoryID = Model.ID });
        }
      <a class="close-reveal-modal">&#215;</a>
    </div>
    <div class="editor-field">
        @Html.LabelFor(p => p.Body, "Innehåll")
        @Html.TextAreaFor(p => p.Body)
    </div>
   
    <input type="submit" value="Save" class="success button" />
    @Html.ActionLink("Cancel and return to List", "Index")
}
