@model Varldsklass.Web.Models.AddCourseViewModel
@using Varldsklass.Domain.Entities
@{
    ViewBag.Title = "Admin: Lägg till kurs";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Lägg till kurs</h2>

@using (Html.BeginForm("SaveCourse", "Course", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(p => p.Post.ID, "ID")
    @Html.LabelFor(p => p.Post.Title, "Titel")
    @Html.TextBoxFor(p => p.Post.Title)
 <div class="editor-field">
    @Html.LabelFor(p => p.Post.Body, "Innehåll")
    @Html.TextAreaFor(p => p.Post.Body)
 </div>
    foreach (var x in Model.Categories)
    {
        @Html.Label(x.Name)
        @Html.CheckBox(x.Name)     
    }  
    <input type="submit" value="Save" class="success button" />
    @Html.ActionLink("Cancel and return to List", "Index")
}


 <!--Html.DropDownListFor(x => x.Categories, Model.Categories, "- Kategori -")<a href="#" class="add-category small button">Lägg till Kategori</a>-->