@model Varldsklass.Web.Models.AddCourseViewModel
@using Varldsklass.Domain.Entities
@{
    ViewBag.Title = "Admin: Lägg till kurs";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string check = "checked='checked'";
}

<h2>Lägg till kurs</h2>

@using (Html.BeginForm("SaveCourse", "Course", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(p => p.Post.ID, "ID")
    @Html.LabelFor(p => p.Post.Title, "Titel")
    @Html.ValidationMessageFor(p => p.Post.Title)
    @Html.TextBoxFor(p => p.Post.Title)
     <div class="editor-field">
        @Html.LabelFor(p => p.Post.Body, "Innehåll")
        @Html.TextAreaFor(p => p.Post.Body)
    </div>
    <h3>Kategorier</h3>
    foreach (var item in (SelectList)ViewData["events"])
    { 
                 <input type="checkbox" name="Name" value="@item.Value" 
                 @if (Model.Categories != null)
                 {
                     foreach (var x in Model.Categories)
                     {
                         if (x.ID.ToString() == item.Value)
                         {
                           @check
                         }
                     }
                 } />
                  <label for="@item.Value">@item.Text</label>
                  <br />

    }  

    <input type="submit" value="Save" class="success button" />
    @Html.ActionLink("Cancel and return to List", "Index")
}


 
