@model Varldsklass.Domain.Entities.Event
@{
    ViewBag.Title = "Admin: Lägg till Kurstillfälle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2>Lägg till Kurstillfälle</h2>
@using (Html.BeginForm("SaveEvent", "Course", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(p => p.ID)
    @Html.HiddenFor(p => p.PostID)
    @Html.HiddenFor(p => p.Created)
    @Html.ValidationMessageFor(p => p.Title)
    @Html.LabelFor(p => p.Title, "Titel")
    @Html.TextBoxFor(p => p.Title)

    @Html.ValidationMessageFor(p => p.Teatcher)
    @Html.LabelFor(p => p.Teatcher, "Lärare")
    @Html.TextBoxFor(p => p.Teatcher)

    @Html.ValidationMessageFor(p => p.City)
    @Html.LabelFor(p => p.City, "Stad")
    @Html.TextBoxFor(p => p.City)
     <div class="editor-field">
        @Html.LabelFor(p => p.Body, "Information")
        @Html.TextAreaFor(p => p.Body)
    </div>

    @Html.LabelFor(p => p.StartDate, "Start Datum")
    @Html.TextBoxFor(m => m.StartDate, new { @class = "datepicker startdate" })

    @Html.LabelFor(p => p.EndDate, "Slut Datum")
    @Html.TextBoxFor(m => m.EndDate, new { @class = "datepicker enddate" })


    <script type="text/javascript">
        $(document).ready(function () {
            if ($(".startdate").val() != '') {
                var arrDate = $('.startdate').val().split(" ");
                $('.startdate').val(arrDate[0]);
            }
            if ($(".enddate").val() != '') {
                var arrDate = $('.enddate').val().split(" ");
                $('.enddate').val(arrDate[0]);
            }
            $(".datepicker").datepicker({
                changeMonth: true,
                dateFormat: "dd.m.yy"
         });
    });

    
    </script>
    <a href="#" id="revealModal" class="button" data-reveal-id="myModal">Bilder</a>
    <div id="myModal" class="reveal-modal [expand, xlarge, large, medium, small]">
      @{
        Html.RenderAction("_FileUploadPartial", "FileUpload", new { eventID = Model.ID });
        }
      <a class="close-reveal-modal">&#215;</a>
    </div>
    <input type="submit" value="Save" class="success button" />
    @Html.ActionLink("Cancel and return to List", "Index")
}

