@model Varldsklass.Domain.Entities.Category
@{
    ViewBag.Title = "Kategori - " + Model.Name;
    ViewBag.Kategori = Model.ID;
}

@if(Model.Images.Count() > 0) {
<section id="slider">
    <div id="featured">
        @foreach(var img in Model.Images) {
            <img src="@img.ImagePath" title="@ViewBag.Title" alt="@ViewBag.Title"/>
        }
    </div>
</section>
}
<div id="content" class="row">
    <div class="eight columns">
        <div class="content-wrap">
            <article>
            <h1>@Model.Name</h1>
            <div class="content">@Html.Raw(Model.Body)</div>
            <ul id="categories-list">
                @foreach (var category in Model.Posts)
                {
                    <li><i>&#9654;</i> @Html.ActionLink(category.Title, "CourseSingle", "Course", new { id = category.ID }, null ) </li>
                }
            </ul>
            </article>
        </div>
    </div>
    @Html.Partial("_SideBar")      
</div>





