@model Varldsklass.Domain.Entities.Post
@using Varldsklass.Domain.Entities
@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@Html.DisplayFor(p => p.Title)</h2>
<h3>Kategorier</h3>
@foreach (var Category in Model.Category) {
    @Category.Name
    <br />
}
<h3>Kurstillfällen</h3>
<table>
    <tr>
        <td>Lärare</td>
        <td>Stad</td>
        <td>Information</td>
        <td>StartDatum</td>
        <td>SlutDatum</td>
    </tr>
    @foreach (var Event in Model.Events)
    {
        <tr>
            <td>@Event.Teatcher</td>
            <td>@Event.City</td>
            <td>@Event.Body</td>
            <td>@Event.StartDate</td>
            <td>@Event.EndDate</td>
            <td>@Html.ActionLink("Ändra", "EditEvent", new { id = Event.ID }, new { @class = "tiny success button" })</td>
            <td>@Html.ActionLink("Ta Bort", "DeleteEvent", new { id = Event.ID, course = Model.ID}, new { @class = "tiny alert button" })</td>
        </tr>
    }
</table>
<p>@Html.ActionLink("Lägg till Kurstillfälle", "AddEvent", new { id = Model.ID }, new { @class = "button" })</p>