@model Varldsklass.Domain.Entities.Post
@{
    ViewBag.Title = "Utbildning - " + Model.Title;
    ViewBag.Utbildning = Model.ID;
}

@if(Model.Images.Count() > 0) {
<section id="slider">
    <div id="featured">
        @foreach(var img in Model.Images) {
            <img src="@img.ImagePath" title="@ViewBag.Title" alt="@ViewBag.Title"/>
        }
    </div>
</section>
}
<div id="content" class="row">
    <div class="eight columns">
        <article>
        <h2>@Model.Title</h2>
        <div class="content">@Html.Raw(Model.Body)</div>
        </article>
    </div>
    @Html.Partial("_SideBar")      
</div>
