@model Varldsklass.Domain.Entities.Event

@{
    ViewBag.Title = "Kursdeltagare för " + Model.Title;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <th>Förnamn</th>
        <th>Efternamn</th>
        <th>E-post</th>
    </tr>
    @foreach (var attendant in Model.Attendants)
    {
        <tr>
            <td>@attendant.FirstName</td>
            <td>@attendant.LastName</td>
            <td>@attendant.Email</td>
            <td>@Html.ActionLink("Redigera", "EditAttendant", new { id = attendant.ID }, new { @class="tiny button" })</td>
            <td>@Html.ActionLink("Ta bort", "DeleteAttendant", new { id = attendant.ID }, new { @class="tiny alert button" })</td>
        </tr>
    }
</table>

@Html.ActionLink("Boka in fler deltagare", "Event", "Book", new { id = Model.ID }, new { @class="success button" })
