@model Varldsklass.Web.Models.AddCourseViewModel
@using Varldsklass.Domain.Entities
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
 }


<div class="row">
<div class="six columns">
<h3>Kategorier</h3>
<p>@Html.ActionLink("Lägg till Kategori", "EditCategory", null, new { @class = "button" })</p>
<table>
    @foreach (var category in Model.Categories)
    {
        <tr>
            <td>@Html.ActionLink(category.Name, "EditCategory", "Course", new { id = category.ID }, null)</td>
            <td>@Html.ActionLink("Ändra", "EditCategory", new { id = category.ID} , new { @class = "tiny success button" })</td>
            <td>@Html.ActionLink("Ta Bort", "DeleteCategory", new { id = category.ID }, new { @class = "tiny alert button" })</td>
        </tr>
    }
</table>
</div>
<div class="six columns">
<h3>Kurser</h3>
<p>@Html.ActionLink("Lägg till kurs", "EditCourse", null, new { @class = "button" })</p>
<table>
    @foreach (var post in Model.Posts)
    {
        <tr>
            <td>@Html.ActionLink(post.Title, "Course", new { id = post.ID })</td>
            <td>@Html.ActionLink("Ändra", "EditCourse", new { id = post.ID }, new { @class = "tiny success button" })</td>
            <td>@Html.ActionLink("Ta Bort", "DeleteCourse", new { id = post.ID }, new { @class = "tiny alert button" })</td>
        </tr>
    }
</table>

<p>@Html.ActionLink("Samlad statistik över alla kurstillfällen", "Statistics", "Evaluation", null, new { @class = "button" })</p>
</div>
</div>